/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:'Courier New', Courier, monospace;
	background-color: rgb(58, 28, 114);
	color: slategray;
	margin: 100px;
	
}


#container {
	border: 2px solid black;
	background: lavender;
	width: 90%;
	max-width: 2000px;
	margin:auto;
	padding-left: 10px;
}

ul {
	list-style: none;
	padding-left: 10px;
}

a {
	color: maroon;
}

a:hover {
	color: red;
}

figure {
	margin: 15px;
	background:black;
	padding: 10px;
}

figure img {
	width: 90%;
	max-width: 800pxss;
}

figcaption, footer {
	font-size: .75em;
}