/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	color: rgb(176, 0, 0);
	background: rgb(195, 217, 198);
	font-family: 'Courier Prime', monospace;
	
}


#container {
	
}

header{
	text-align: center;
}

#container>header h1{
	color:rgb(171, 142, 194)
}

section {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(197, 222, 224);
}

footer {
	font-size: 0.75em;
	padding: 8px;
	color: whitesmoke;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
body {
	color: rgb(176, 0, 0);
	background: rgb(188, 215, 191) url(../img/intruder.JPG) fixed no-repeat center;
	background-size: center;
	font-family: 'Courier New', Couriexssr, monospace;
	
}

#container {
	width: 725px;
	margin: auto;
}
	

	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
#container {
	width: 1000px;
}

section#first {
	float:left;
	width: 350px;
	background: rgb(188, 215, 191);

}
	
section#second {
	float:right;
	width: 350px;
}
	
footer {
	clear: both;
}
} /* closes 1024px+ */



